/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  .arapey-regular {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .arapey-regular-italic {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: italic;
  }

  .montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  :root{
    --gray-text: #535353;
    --medium-gray: #8d8c8c;
    --pale-gray: #b8b6b6;
    --white: #faf5ee;
    --green: #88bb6c;
    --gold: #b4a05b;
    --pale-gold: #d4ccbb;
    --bone: #f4ede5;
    --blue: #94b9ff;
    --pale-blue: #dde6fd;

    --lakewood: "./src/assets/img/lakewood.jpeg";
    --bridgewood: "./src/assets/img/bridgewood.jpeg";
    --ridgewood: "./src/assets/img/ridgewood.jpeg"
  }

  /* Buttons */
.btn{
    border: none;
    text-align: center;

    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;

    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
  }

.btn-modify, .btn-confirm{
    width: 130px;
    font-size: 1rem;
    padding: 0.8rem;
}
.btn-modify{
    background-color: var(--pale-blue);
    color: var(--blue);
}

.btn-confirm{
    background-color: var(--green);
    color: var(--white);
}

  /* Fonts */
  h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;

    margin-bottom: 1rem;
  }

  /* Containers and Cards */
.booking{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    z-index: 1;
        .see-results{
            background-color: var(--gold);
            color: var(--white);

            margin-top: 2rem;
        }
  }

.base-cards{
    width: 900px;
    max-width: 1000px;
    background-color: var(--white);
    border-radius: 20px;

    font-family: 'Raleway', sans-serif;
    color: var(--gray-text);
    text-align: center;
}

/* Booking section */
.booking-data{
    height: 180px;
    max-height: 200px;

    display: grid;
    grid-template-columns: repeat(6fr, 2);

    .card-subtitle{
        margin-bottom: 0.8rem;
    }
    /* .rewards{
    } */
}
/* Results section */
.results{
  /* background: linear-gradient(#8eaec5, #d4dde2); */
  background: radial-gradient(circle at center, var(--pale-blue), var(--blue) 100%);  

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  padding-top: 1rem;
  
  h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;

    padding: 2rem;
  }

  .main-card{
    display: grid;
    grid-template-columns: 65% 35%;

    .left{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        
        .hotel {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            height: 80%;

            text-align: left;
            margin-left: 1rem;

            .hotel-name{
                font-family: 'Arapey', serif;
                font-style: italic;
                font-size: 3.5rem;
            }

            .total {
                h5{
                    font-size: 2rem;
                }
                h6{
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    color: var(--medium-gray);
                }
            }
        }
        img{
            width: 250px;
            max-width: 250px;
            border-radius: 10px;
            
            margin: 1rem;
            margin-left: 2rem;
        }
    }

    .right{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;

        align-items: center;
        text-align: left;
        
        .buttons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            align-self: start;
            .btn{
                margin-left: 1fr;
                margin-left: 0 !important
            }
        }
        .dates-div{
            display: grid;
            grid-template-columns: 1fr !important;
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 1rem;

            margin-top:1rem;
            
            /* align-self:end; */

            .date-details{
                border-left: solid 3px var(--pale-gray);
                padding-left: 1rem;
            }
        }
    }
  }
}

.detail-label{
        font-size: 0.8rem;
        text-transform: uppercase;
        color: var(--medium-gray);
        font-weight: bolder;
}

.money{
    font-family: 'Montserrat', sans-serif;
}

.booking-choices{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    
    align-items: center;
    padding: 2rem;
    
    box-shadow: var(--pale-blue) 0 0 50px;

    span, p{
        font-size: 1.2rem;
    }
}

a{
    text-decoration:none !important;
    color: var(--white);
}
  .booking-results{
    .detail-options-card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        
        align-items: center;
        text-align: left;
        padding: 2rem;
        margin-bottom: 1.2rem;
        
        background-color: var(--white);
        /* box-shadow: var(--pale-blue) 0 0 50px; */

        .hotel-name{
            font-family: 'Arapey', serif;
            font-style: italic;
            font-size: 2.5rem;
        }
        .other-prices{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-columns: 1fr 3cqmax;

            text-align: left;
        }
    }
    
    h3{
        font-size: 2rem;
        color: var(--white)
    }
  }

  .date{
    border-inline: solid 1px var(--pale-gray);
  }

  .date{
    padding: 1rem;
  }

  .chosen-date{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
  } 

  .switch-div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;

    max-width: 80%;
    margin: 0 auto;
  }
 
 /* Switch - Fuente: https://www.w3schools.com/howto/howto_css_switch.asp */
 /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

/* Styles */
/* Universal wrapper */
  .h-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    
  }
  .h-wrapper header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }
  .h-wrapper header .background {
    transform: translateZ(-10px) scale(2);
  }
  .h-wrapper header .foreground {
    transform: translateZ(1px) scale(1);
  }
  .h-wrapper header .background,
  .h-wrapper header .foreground {
    position: absolute;
    height: 110%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }

  .booking{
    width: 100%;
    position: absolute;
    top:25%;
    .booking-data{
        width: 900px;
        margin: 0 auto;
    }
    /* margin: 0 18%; */
    z-index: 1;
  }

/* QA Button */
  .btn-qa {
    position: fixed;
    right: 40px;
    bottom: 15px;
    z-index: 10;
  }
  .btn-qa button {
    width: 50px;
    height: 50px;
    border-radius: 180px;
    background-color: #fff9f0;
    box-shadow: var(--pale-blue) 0 0 10px;
    border: none;
    transition: all 0.4s ease-in-out;
  }
  .btn-qa button:hover {
    border: none;
    box-shadow: #5d99a0 0 0 15px;
    transform: translateY(-2px);
  }